.App {
  text-align: center;
  margin: 2em;
}

.SearchBar {
  border: dotted lime;
  padding: 1em;
  background-color: rgba(187, 121, 204, 0.384);
}

.SearchBar input {
  width: 50%;
  max-width: 600px;
}

/* combine later */
.results {
  background-color: rgba(187, 121, 204, 0.384);
  border: dotted lime;
  flex-grow: 1;
  justify-self: flex-start;
  max-width: 600px;
  margin-right: 1em;
}

.nomList {
  background-color: rgba(187, 121, 204, 0.384);
  border: dotted lime;
  flex-grow: 1;
  justify-self: flex-end;
  max-width: 600px;
  margin-left: 1em;
}

.content {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  margin-top: 1em;
  padding: 1em 0em 1em 0em;
  border: dotted pink;
}
